---
import "../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"

const { pageTitle } = Astro.props
const identity = {
  firstName: "Sophia",
  country: "Canada",
  occupation: "Artist",
  hobbies: ["kickboxing", "gardening", "reading"],
}
const showLocations = ["Canada", "Europe", "Japan", "the United States"]
const happy = true
const finished = false
const goal = 3

const locColor = "#F97906"
const fontWeight = 700
---

<BaseLayout pageTitle="About">
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {
        identity.occupation.toLowerCase()
      }.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>I've exhibited in:</p>
  <ul>
    {showLocations.map((loc) => <li class="location">{loc}</li>)}
  </ul>
  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>
<style define:vars={{ locColor, fontWeight }}>
  .location {
    color: var(--locColor);
    font-weight: var(--fontWeight);
  }
</style>
